<style>
  .socials svg{
  	display: inline-block;
    margin-right: 5px;
    height: 20px;
  }
  .socials{
  	padding-bottom: 5px;
  }
  .socials a{
  	display: inline-flex;
    align-items: center;
  }
  .cart-total{
  	margin-left: 5px;
  }
</style>

  {% if settings.facebook != blank %}
	<a class="social" href="{{settings.facebook}}" target="_blank">
        {% include 'facebook' %}
    </a>
  {% endif %}
  {% if settings.instagram != blank %}
	<a class="social" href="{{settings.instagram}}" target="_blank">
      {% include 'instagram' %}
    </a>
  {% endif %}
  {% if settings.twitter != blank %}
	<a class="social" href="{{settings.twitter}}" target="_blank">
      {% include 'twitter' %}
	</a>
  {% endif %}
  {% if settings.pinterest != blank %}
	<a class="social" href="{{settings.pinterest}}" target="_blank">
      {% include 'pinterest' %}
	</a>
  {% endif %}
  {% if settings.youtube != blank %}
	<a class="social" href="{{settings.youtube}}" target="_blank">
      {% include 'youtube' %}
	</a>
  {% endif %}
  {% if settings.tiktok != blank %}
	<a class="social" href="{{settings.tiktok}}" target="_blank">
      {% include 'tiktok' %}
	</a>
  {% endif %}
  {% if settings.email != blank %}
	<a class="social" href="mailto:{{settings.email}}" target="_blank">
      {% include 'email' %}
	</a>
  {% endif %}
