{% style %}
/* Swiper Version*/
#section_{{ section.id }}  {
  width: 100%;
  padding: 0;
  margin: 0;
}
#section_{{ section.id }} > div.slider {
  padding-top: 100px;
  padding-bottom: 100px;
}
#section_{{ section.id }} .swiper {
  width: 100%;
  height: 500px;
  margin: 0 auto;
  max-width: 750px;
}
#section_{{ section.id }} div.button {
  margin: 0 auto;
}
:root {
  --swiper-navigation-size: 40px;
  --swiper-theme-color: #ed0835;
}
#section_{{ section.id }} .swiper-slide {
  display: flex;
}
#section_{{ section.id }} .slide_inner * {
  margin: 0;
  padding: 0;
}
#section_{{ section.id }} .slide_inner {
  display: flex;
  padding: 0 12%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
#section_{{ section.id }} .slide_inner .slide_image {
  width: 30%;
}
#section_{{ section.id }} .slide_inner .slide_image video,
#section_{{ section.id }} .slide_inner .slide_image img {
  width: 100%;
  height: auto;
  -moz-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  -webkit-box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
#section_{{ section.id }} .slide_inner .slide_text {
  width: 70%;
}
#section_{{ section.id }} .slide_text .name {
    font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
#section_{{ section.id }} .slide_text .story {
  margin-bottom: 30px;
}
#section_{{ section.id }} .slide_text .dosage {
  margin-bottom: 30px;
}
#section_{{ section.id }} .slide_text .quote {
  margin-bottom: 30px;
}
{% endstyle %}

<div id="section_{{ section.id }}" class="section_c">
  <div class="slider">
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        {% for block in section.blocks %}
        <div class="swiper-slide">
          <div class="slide_inner">
            <div class="slide_image">
              {% if block.settings.image and block.settings.video != blank %}
                <img loading="lazy" height width alt="{{block.settings.alt}}" src="{{ block.settings.image | img_url: '400x' }}">
              {% endif %}
              {% if block.settings.video %}
                <video controls>
                  <source src="{{block.settings.video}}" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              {% endif %}
            </div>
            <div class="slide_text">
              <h2 class="name">{{- block.settings.title -}}</h2>
              <p class="title">{{- block.settings.sub_title -}}</p>
              <p class="story">{{- block.settings.story | strip_html -}}</p>
              <p><strong>DOSAGE:</strong></p>
              <p class="dosage">{{- block.settings.dosage | strip_html -}}</p>
              <p><strong>SINCE TAKING CONFIDENCE:</strong></p>
              <p class="quote">“{{- block.settings.quote | strip_html -}}”</p>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      <!-- If we need navigation buttons -->
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    {% if section.settings.btn_text != blank %}
      {% render 'button', btn_text: section.settings.btn_text %}
    {% endif %}
  </div>
</div>
<script defer>
  $(function (){
    const swiper = new Swiper('.swiper', {
      // Optional parameters
      direction: 'horizontal',
      loop: true,
      // Navigation arrows
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      }
    });
});
</script>

{% schema %}
  {
    "name": "Slider",
    "settings": [
		{
       "type": "select",
       "id": "text-block-style",
       "label": "Style",
       "options": [
         {
           "value": "primary",
           "label": "Primary"
         },
         {
           "value": "secondary",
           "label": "Secondary"
         }
       ],
       "default": "primary"
    },
		{
            "id": "title",
            "type": "text",
            "label": "Header"
          },
          {
             "type": "checkbox",
             "id": "alternate-header",
             "label": "Enable Alternative Header Color"
          },
		  {
            "id": "sub-title",
            "type": "text",
            "label": "Sub Header"
          },
          {
              "type": "text",
              "id": "btn_text",
              "label": "Button Text",
              "default": "SHOP NOW"
          },
          {
              "type": "url",
              "id": "btn_url",
              "label": "Button Url",
              "default": "/collections/all"
          }
	],
	"blocks": [
      {
        "type": "content",
        "name": "Slides",
        "settings": [
          
		  {
			"id": "title",
            "type": "text",
            "label": "Header"
		  },
		  {
			"id": "sub_title",
            "type": "text",
            "label": "Title"
		  },
		  {
			"id": "story",
            "type": "richtext",
            "label": "Story"
		  },
		  {
			"id": "dosage",
            "type": "richtext",
            "label": "Dosage"
		  },
		  {
			"id": "quote",
            "type": "richtext",
            "label": "Quote"
		  },
		  {
			"id": "image",
            "type": "image_picker",
            "label": "Image"
		  },
		  {
			"id": "alt",
            "type": "text",
            "label": "Image Alt Text"
		  },
		  {
			"id": "video",
            "type": "text",
            "label": "Video URL"
		  }
        ]
      }
    ],
	"presets": [
      {
      "name": "Slider",
      "category": "Text"
      }
      ]
  }
{% endschema %}

