<style>
  #blog h1{
  	text-align: center;
  }
  #blog .article-wrapper{
  	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  
  #blog .article-wrapper .article a, #blog .article-wrapper .article img{
  	width: 100%;
    display: block;
  }
  #blog .article h2 a{
  	font-family: {{ settings.header-font.family }};
    font-weight: {{ settings.header-font.weight }};
    font-family: 'Hatton', serif !important;
    font-size: {{ settings.h2-size }}px;
    text-decoration: none;
  }
  
  #blog .article h2 a, #blog .article time, #blog .article p, #blog .article a{
    text-align: center;
  }
  
  #blog .article p{
  	margin-top: 0 !important;
  }
  #blog .article h2{
  	margin-bottom: 10px;
  }
  #blog .pagination{
  	display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5em;
  }
  
  .read-more{
  	margin-bottom: 3em;
  }
  @media only screen and (max-width: 850px) {
    #blog .article-wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
  }
  @media only screen and (max-width: 600px) {
    #blog .article-wrapper{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }
</style>

<div id="blog" class="secondary">
{% paginate blog.articles by 6 %}

{% if current_tags %}
  <h1>{{ blog.title | link_to: blog.url }} - {{ current_tags.first }}</h1>
{% else %}
  <h1>{{ blog.title }}</h1>
{% endif %}
<div class="article-wrapper">
{% for article in blog.articles %}
	<div class="article">
        {% if article.image %}
    <a href="{{ article.url }}">
      <img loading="lazy" height="" width="" src="{{ article.image | img_url: '500x' }}" alt="">
    </a>    
  {% endif %} 


  <h2><a href="{{ article.url }}">{{ article.title }}</a></h2>

  {% if article.excerpt.size > 0 %}
    {{ article.excerpt }}
  {% else %}
<p>{{ article.content | strip_html | truncatewords: 120 }}</p>
  {% endif %}

  <a class="read-more" href="{{ article.url }}">Read more</a>

  {% if blog.comments_enabled? and article.comments_count > 0 %}
    <a href="{{ article.url }}#comments">{{ article.comments_count }} {{ article.comments_count | pluralize: 'comment','comments' }}</a>
  {% endif %}
  
  {% if article.tags.size > 0 %}
    {% for tag in article.tags %} 
      <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  {% endif %}
	</div>
{% endfor %}
</div>
{% if paginate.pages > 1 %}
<div class="pagination">
  {% comment %}
    When paginating blog articles, a previous article is actually a newer article, not an older one,
    because blog articles are shown and paginated in a reversed chronological order.
    The word 'previous' can be confusing, hence we'll change it.
  {% endcomment %}
  {{ paginate | default_pagination | replace: 'Previous', 'Newer articles' | replace: 'Next', 'Older articles' }}
{% endif %}
</div>
{% endpaginate %}
</div>