<style>
  main{
    --bg-white: white;
    --bg-gray: #f3f3f3;
    --bg-pink: #f9ede8;
    --bg-red: #ed0835;
  }
  
  #blog-header {
    width: 100%;
    background-color: var(--bg-pink);
    text-align: center;
    padding: 100px 0;
	margin-top: 69px;
  }
  #blog-header h1 {
    margin-top: 15px;
    color: var(--bg-red);
  }

  #blog .article-wrapper{
  	display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
  
  #blog .article-wrapper .article a.read-more, #blog .article-wrapper .article img{
  	width: 100%;
    display: block;
  }
  #blog .article h3 a{
    text-transform: uppercase;
    text-decoration: none !important;
    font-weight: bold;
  }
  
  #blog .article p{
  	margin-top: 0 !important;
  }
  #blog .article h2{
  	margin-bottom: 10px;
  }
  #blog .pagination{
  	display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 5em;
  }
  
  .read-more{
  	margin-bottom: 3em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--bg-red) !important;
  }
  .section.instagram_feed {
      width: 100%;
      background-color: white;
      padding: 100px 0;
    }
    .section.instagram_feed .section_inner  {
      margin: 0 auto;
      background-color: white;
      max-width: 1200px;
    }
    #insta_socials{
      display: flex;
      background: white;
    }
    #insta_socials svg{
      width: 15px;
      color: var(--bg-red);
      margin-right: 5px;
    }
  @media only screen and (max-width: 850px) {
    #blog .article-wrapper{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
  }
  @media only screen and (max-width: 600px) {
    #blog .article-wrapper{
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
    }
  }
</style>
<div id="blog-header">
  <h1>Blog or Podcast Heading</h1>
</div>
<div id="blog" class="secondary">

{% paginate blog.articles by 6 %}

<div class="article-wrapper">
{% for article in blog.articles %}
	<div class="article">
        {% if article.image %}
    <a href="{{ article.url }}">
      <img loading="lazy" height="" width="" src="{{ article.image | img_url: '500x' }}" alt="">
    </a>    
  {% endif %} 


  <h3><a href="{{ article.url }}">{{ article.title }}</a></h3>

  {% if article.excerpt.size > 0 %}
    {{ article.excerpt }}
  {% else %}
	<p>{{ article.content | strip_html | truncatewords: 120 }}</p>
  {% endif %}

  <a class="read-more" href="{{ article.url }}">Read more ›</a>
  
  {% if article.tags.size > 0 %}
    {% for tag in article.tags %} 
      <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}
    {% endfor %}
  {% endif %}
	</div>
{% endfor %}
</div>
{% if paginate.pages > 1 %}
<div class="pagination">
  {% comment %}
    When paginating blog articles, a previous article is actually a newer article, not an older one,
    because blog articles are shown and paginated in a reversed chronological order.
    The word 'previous' can be confusing, hence we'll change it.
  {% endcomment %}
  {{ paginate | default_pagination | replace: 'Previous', 'Newer articles' | replace: 'Next', 'Older articles' }}
{% endif %}
</div>
{% endpaginate %}
</div>
  <div class="section instagram_feed">
    <div class="section_inner">
      <h2>Curate your feed with Confidence.</h2>
      <div id="insta_socials">
        {% render 'socials' %}
      </div>
    </div>
  </div>